/* // CSS RESET // */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Page CSS */
html,
body {
  margin: 0 0 0 0;
  padding: 0px;
  border: 0;
  font-size: 100%;
  font: inherit;
  z-index: -10;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: Lato;
  background-color: rgb(19, 119, 172);
  z-index: -10;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}

/* Header CSS */
.Header {
  background-color: rgb(62, 167, 232);
  width: 100vw;
  height: 110px;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100vw;
}

.Header-Logo-Container {
  height: 90%;
  width: 120px;
  margin-right: 100px;
  margin-left: 70px;
}

.Header-Logo {
  height: 75px;
  margin-top: 15px;
}
.Header-Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px 25px 15px 200px;
  transition: 1s ease;
}
.Footer-Social-Buttons,
.Header-Social-Buttons {
  height: 22px;
}
.Footer-Social-Media,
.Header-Social-Media {
  padding-left: 50px;
  margin: 20px;
}
.Footer-Donate,
.Header-Donate {
  color: white;
  background-color: #f26c6c;
  border: 2px solid #f43d3d;
  width: 130px;
  height: 45px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer-Donate-Text,
.Header-Donate-Text {
  font-family: Lato;
  color: white;
  font: weight 400;
  margin-left: 5px;
  font-size: 17px;
  margin-top: -2px;
}

.Footer-Cash,
.Header-Cash {
  width: 18px;
  height: 18px;
  margin-left: -5px;
}

/* Splash CSS */

.Splash-Container {
  height: 600px;
  position: relative;
  top: 0;
  margin-top: 100px;
  z-index: -1;
  -webkit-transform: translate3d(0, 0, 9px);

  /* max-height: 600px; */
  /* margin-bottom: 1px; */
}

.Splash-Container-Background {
  background: url("./Assets/splash.svg");
  height: 70%;
  box-sizing: border-box;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  min-width: 857px;
  max-width: 100vw;
}

.Splash-Grid {
  display: flex;
  max-width: 100vw;
}

.Splash-Column-Left,
.Splash-Column-Right {
  flex: 50%;
}

.Splash-Column-Left {
  display: flex;
  justify-content: center;
}

.Splash-Person {
  margin: 20px 0 0 50px;
  height: 60%;
  transition: 0.5s ease;
}

.Splash-Header {
  font-size: 50px;
  color: #0e75b0;
  width: 400px;
}

.Splash-Header-Sub {
  color: #38a6e8;
}

/* Splash-Form CSS */

.Splash-Form {
  display: flex;
  flex-direction: row;
}

.Splash-Form-Container {
  height: 135px;
  width: 400px;
  background-color: rgba(250, 250, 250, 0.932);
  color: #38a6e8;
  display: flex;
  box-shadow: 2px -2px 2px rgba(234, 234, 234, 0.897);
  border-radius: 2px;
  margin-top: -25px;
  z-index: 300;
}

.Splash-Form-Content {
  width: 90%;
  margin-left: 20px;
  margin-top: -5px;
}

.Splash-Form-Header {
  font-size: 22px;
}
.Splash-Form-Subheader {
  color: black;
  font-size: 12px;
  margin-top: -10px;
}
.Splash-Form-Email,
.Splash-Form-Zip {
  border: 1px solid rgb(234, 234, 234);
  height: 30px;
}

.Splash-Form-Email {
  margin-left: -5px;
  width: 160px;
  padding-left: 10px;
}

.Form-Bottom {
  display: flex;
  flex-direction: row;
  width: 55%;
}

.Splash-Form-Zip {
  width: 80px;
  margin-left: 5px;
  padding-left: 10px;
}

.Splash-Form-Button {
  border: 1px solid #f2a074;
  background-color: #f99c69;
  color: white;
  margin-left: 10px;
  width: 90px;
  border-radius: 5px;
  height: 34.5px;
}

/* Footer CSS */

.Footer {
  background-color: rgb(19, 119, 172);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  margin-bottom: -200px;
  color: white;
  font-size: 10px;
  min-width: 100vw;
  width: 100vw;
  min-height: 100px;
  -webkit-transform: translate3d(0, 0, 10px);
}

.Footer-Buttons {
  display: none;
}

.Footer-Logo {
  margin-top: -100px;
}

.Footer-Text {
  text-align: center;
  margin-top: 10px;
  width: 500px;
}

.Privacy-Policy {
  color: white;
  text-decoration: underline;
}

.Footer-Box {
  border: 0.5px solid rgba(255, 255, 255, 0.564);
  height: 20px;
  width: 250px;
  margin-top: -12px;
  text-align: center;
  padding-top: 1px;
  margin-bottom: -10px;
  padding-bottom: 1px;
  line-height: 18px;
}

/* Media Queries */
@media screen and (max-width: 890px) {
  .Header-Buttons {
    margin-left: 0px;
  }

  .Footer {
    margin-top: -300px;
  }

  .Splash-Container-Background {
    height: 60%;
    min-width: 500px;
  }
  .Splash-Person {
    height: 50%;
    margin-top: 30px;
  }

  .Splash-Header {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -50px;
  }
  .Splash-Form-Container {
    width: 300px;
    margin-left: -50px;
    height: 180px;
  }
  .Splash-Form {
    flex-direction: column;
  }
  .Splash-Form-Header {
    margin: 15px 0 15px 0;
  }

  .Splash-Form-Email,
  .Splash-Form-Zip,
  .Splash-Form-Button {
    height: 25px;
    width: 90%;
    margin-left: 0px;
  }

  .Form-Bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Splash-Form-Zip {
    width: 243px;
    margin-left: 107.5px;
    margin-top: 5px;
  }
  .Splash-Form-Button {
    width: 100px;
    margin-left: 107.5px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 650px) {
  .Header-Buttons {
    display: none;
  }

  .Footer-Box {
    font-size: 8px;
  }

  .Footer-Text {
    text-align: center;
    margin-top: 10px;
    width: 250px;
  }
  .Footer-Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -150px;
    margin-bottom: 10px;
    padding-top: 50px;
  }
  .Footer-Social-Media {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .Footer-Logo {
    display: none;
    margin-top: 10px;
  }

  .Splash-Grid {
    flex-direction: column;
  }

  .Splash-Person {
    width: 30%;
    margin-left: 0px;
    z-index: 0;
    margin-bottom: 50px;
  }

  .Splash-Container-Background {
    /* min-width: 0px; */
    z-index: -2;
    margin-bottom: 50px;
  }
  .Splash-Column-Left {
    height: 462px;
  }

  .Splash-Column-Right {
    margin-bottom: -10px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 167, 232);
    margin-top: -21px;
    height: 700px;
    transform: translate3d(0, 0px, 0px);
    -webkit-transform: translate3d(0, -100px, 200px);
  }

  .Splash-Header {
    text-align: center;
    margin-left: 0px;
    color: white;
    margin-top: 15px;
    width: 700vw;
    font-size: 20px;
  }

  .Splash-Header-Sub {
    color: white;
  }

  .Splash-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Splash-Form-Container {
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 220px;
    z-index: 100;
    height: 150px;
    box-shadow: 2px 2px 1px rgb(140, 140, 140);
    -webkit-transform: translate3d(0, -250px, 100px);
  }

  .Splash-Form-Header {
    font-size: 20px;
    text-align: center;
  }

  .Splash-Form-Subheader {
    text-align: center;
  }

  .Footer {
    margin-top: -235px;
    z-index: 10;
    -webkit-transform: translate3d(0px, 50px, 150px);
    -moz-transform: translate3d(0px, 80px, 150px);
    padding-bottom: 50px;
  }

  .Splash-Form-Email {
    width: 190px;
    margin-left: -5px;
  }
  .Splash-Form-Zip {
    width: 60%;
    margin: 0px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .Splash-Form-Button {
    margin: 0px;
    margin-left: -30px;
    margin-right: 5px;
    border-radius: 0;
    height: 28px;
  }

  .Form-Bottom {
    display: flex;
    flex-direction: row;
    width: 77%;
    margin-top: 5px;
  }

  .Footer-Logo {
    display: none;
  }
}

@media screen and (max-height: 300px) {
  .Footer-Social-Media {
    margin-top: 100px;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .Splash-Column-Right {
      transform: translate3d(0, 0px, 0px);
      margin-top: -250px;
      padding-top: 0px;
      height: 500px;
    }
  }
}

@media all and (min--moz-device-pixel-ratio: 0) and (max-width: 680px) {
  .Splash-Column-Right {
    transform: translate3d(0, 0px, 0px);
    margin-top: -300px;
    padding-top: 0px;
    height: 500px;
  }
}

@media all and (min--moz-device-pixel-ratio: 0) and (max-width: 620px) {
  .Splash-Column-Right {
    margin-top: -260px;
  }
}

@media all and (min--moz-device-pixel-ratio: 0) and (max-width: 500px) {
  .Splash-Column-Right {
    margin-top: -200px;
    transition: 0.5s ease;
  }
}

@media all and (min--moz-device-pixel-ratio: 0) and (max-width: 380px) {
  .Splash-Column-Right {
    margin-top: -120px;
  }
}

@media not all and (max-width: 650px) {
  @media {
    .Splash-Column-Right {
      transform: translate3d(0, 0px, 0px);
      margin-top: 0px;
      padding-top: 0px;
      height: 500px;
    }
  }
}

@-moz-document url-prefix() and (max-width: 640px) {
  .Splash-Column-Right {
    margin-top: -200px;
  }
}
